@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://db.onlinewebfonts.com/c/f798566a9c8b6647bf0a5b1224f97d83?family=Bebas+Kai');

*, *::after, *::before{
    margin: 0;
    padding: 0;
}

.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sunny{
    background: linear-gradient(135deg, #F1734A, #ED4497);
}

.time, .temp{
    font-family: 'Bebas Kai', sans-serif;
    font-size: 8vh;
    color: white;
}

.location, .tip{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    color: white;
}

img{
    width: 5vh;
    height: 5vh;
}

/* grid */

.textcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .3fr .1fr 2fr 1fr;
    grid-template-areas: 
        "time"
        "location"
        "button"
        "tips"
        "temp"
    ;
}

.time{
    grid-area: time;
    justify-self: center;
    align-self: flex-end;
}

.location
{
    grid-area: location;
    justify-self: center;
    align-self: flex-start;
}

.locationbutton{
    grid-area: button;
    justify-self: center;
    align-self: center;
}

.tip{
    grid-area: tips;
    justify-self: center;
    align-self: center;
}

.temp{
    grid-area: temp;
    justify-self: center;
}