@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('asset/font/BebasKai.ttf');

*, *::after, *::before{
    margin: 0;
    padding: 0;
}

.app{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    overflow-y: none;
}

.base{
    background: linear-gradient(135deg, #BAD449, #4FC77F);
}

.sunny{
    background: linear-gradient(135deg, #AD5F66, #10164A);
}

.rainy{
    background: linear-gradient(135deg, #F1734A, #ED4497);
}

.cold{
    background: linear-gradient(135deg, #73D5DB, #A0A2E1);
}


.time, .temp{
    font-family: 'Bebas Kai', sans-serif;
    font-size: 8vh;
    color: white;

}

.location, .tip{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    color: white;

}

.locationbutton img{
    width: 5vh;
    height: 5vh;
}

.locationbutton img:hover{
    width: 5.2vh;
    height: 5.2vh;
}

/* grid */

.textcontainer{
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr .3fr .3fr 2fr 1fr;
    grid-template-areas: 
        "time"
        "location"
        "button"
        "tips"
        "temp"
    ;
}

.time{
    z-index: 1;
    grid-area: time;
    justify-self: center;
    align-self: flex-end;
}

.location
{
    z-index: 1;
    grid-area: location;
    justify-self: center;
    align-self: flex-start;
}

.locationbutton{
    z-index: 1;
    grid-area: button;
    justify-self: center;
    align-self: center;
}

.tip{
    z-index: 1;
    grid-area: tips;
    justify-self: center;
    align-self: center;
}

.temp{
    z-index: 1;
    grid-area: temp;
    justify-self: center;
}

@keyframes picture_animate-top {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-25px);
    }
}

@keyframes picture_animate-mid {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-80px);
    }
}

@keyframes picture_animate-bot {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(40px);
    }
}

.icon{
    position: absolute;
}

.icon1{
    position: fixed;
    top: 1vh;
    right: 65vw;
    width: 8rem;
    animation: picture_animate-top linear 5s infinite alternate;
}

.icon2{
    position: fixed;
    top: 40vh;
    left: 70vw;
    width: 5rem;
    animation: picture_animate-mid linear 15s infinite alternate;
    animation-delay: 2s;
}

.icon3{
    position: fixed;
    bottom: 10vh;
    left: 15vw;
    width: 4rem;
    animation: picture_animate-bot linear 9s infinite alternate;
    animation-delay: 3s;
}

.icon{
    position: absolute;
}

/* icons responsive */

.icon1{
    position: fixed;
    top: 3vh;
    right: 78vw;
    width: 2rem;
    animation: picture_animate-top linear 5s infinite alternate;
}

.icon2{
    position: fixed;
    top: 38vh;
    left: 60vw;
    width: 4rem;
    animation: picture_animate-mid linear 15s infinite alternate;
    animation-delay: 2s;
}

.icon3{
    position: fixed;
    bottom: -6vh;
    left: -12vw;
    width: 7rem;
    animation: picture_animate-bot linear 9s infinite alternate;
    animation-delay: 3s;
}

@media only screen and (min-width: 500px) {
    .icon1{
        position: fixed;
        top: .5vh;
        right: 75vw;
        width: 6rem;
        animation: picture_animate-top linear 5s infinite alternate;
    }

    .icon2{
        position: fixed;
        top: 40vh;
        left: 80vw;
        width: 5rem;
        animation: picture_animate-mid linear 15s infinite alternate;
        animation-delay: 2s;
    }

    .icon3{
        position: fixed;
        bottom: 5vh;
        left: 8vw;
        width: 4rem;
        animation: picture_animate-bot linear 9s infinite alternate;
        animation-delay: 3s;
    }
}


@media only screen and (min-width: 800px) {
    .icon1{
        position: fixed;
        top: 1vh;
        right: 65vw;
        width: 8rem;
        animation: picture_animate-top linear 5s infinite alternate;
    }

    .icon2{
        position: fixed;
        top: 40vh;
        left: 70vw;
        width: 5rem;
        animation: picture_animate-mid linear 15s infinite alternate;
        animation-delay: 2s;
    }

    .icon3{
        position: fixed;
        bottom: 10vh;
        left: 15vw;
        width: 4rem;
        animation: picture_animate-bot linear 9s infinite alternate;
        animation-delay: 3s;
    }
}
